body {
  margin: 50px;
  color: #1b1b1b;
  font-family: 'ff-meta-serif-web-pro', Georgia, serif;
  font-style: normal;
  font-size: 1.1em;
  background: #D8DAC9;
}


/* navbar */

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.nav-title-title {
  font-size: 1.8em;
  font-family: "pt-sans",sans-serif;
}

.nav-title-sub {
  font-size: 0.8em;
  font-style: italic;
  color: #7EA684;
}

.nav-menu {
  display: flex;
  margin: 2em 0 0 0;
  padding-left: 0;
  border-top: 2px solid #7EA684;
}

.nav-menu-item {
  list-style: none;
  border-right: 2px solid #7EA684;
  padding: 1em;
  padding-bottom: 0.7em;
  color: #21718D;
  font-family: "pt-sans",sans-serif;
  font-weight: bold;
}

.nav-menu-img {
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.nav-menu-left {
  display: flex;
  border-left: 2px solid #7EA684;
}

.nav-menu-right {
  display: flex;
  margin-left: auto;
  border-left: 2px solid #7EA684;
}


/* content */

/* articles */
.content {
  display: flex;
}

.content-title {
  font-family: "pt-sans",sans-serif;
  font-size: 1.8em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content-container {
  width: 220%;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  row-gap: 4em;
}

.content-container .item-img-sub, .item-sub-title {
  font-family: "pt-sans",sans-serif;
}

.content-container-item {
  padding-top: 2em;
  border-top: 1.5px solid #7EA684;
}

.content-container img {
  max-width: 100%;
}

.item-img-sub {
  color: #7EA684;
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.item-sub-title {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 2px solid #21718D;
  display: inline;
  padding-bottom: 0.1rem;
}

.item-sub-sub {
  margin-top: 1.2em;
}

/* side */
.side {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-left: 1.2em;
  margin-left: 2em;
  border: 1.5px solid #7EA684;
  border-right: none;
}

.side-item {
  padding-bottom: 1.5em;
  border-bottom: 1.5px solid #7EA684;
}

.side-item-title {
  font-family: "pt-sans",sans-serif;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.side-item-tag-title {
  font-family: "pt-sans",sans-serif;
  font-weight: bold;
  margin-bottom: 0.6em;
}

.side-item-tag-title {
  margin-top: 1em;
}

.side-tag-item {
  display: inline-flex;
  width: fit-content;
  background-color: white;
  font-size: 0.9em;
  padding: 0.3em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.side-item2 {
  padding-bottom: 1.5em;
}

